<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Admin Panel</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h1>Welcome to the Admin Panel</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td>
        <a th:if="${user.enabled}" th:href="@{/admin/disable(id=${user.id})}" class="btn btn-warning btn-sm">Disable</a>
        <a th:if="${!user.enabled}" th:href="@{/admin/enable(id=${user.id})}" class="btn btn-success btn-sm">Enable</a>
        <a th:href="@{/admin/delete(id=${user.id})}" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <p th:if="${action}" class="alert alert-info" role="alert" th:text="${action}"></p>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-rGBBhVz0xf5XLYIcC1L5J60zzGzTzIYGm+DLH9X+e6H8ZjY4eUnx5cJWpvoI2oZ" crossorigin="anonymous"></script>
</body>
</html>
